
.hero{
    height: 100vh;
    background-image: linear-gradient(93.58deg, rgba(21, 21, 24, 1) -5.39%, rgba(255, 255, 255, 0) 108.82%), url(/img/hero_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.brand{
    position: absolute;
    top: 20px;
    height: 32px;
    display: flex;
    align-items: center;
    img{
        height: 100%;
    }
    .brand_name{
        display: inline-block;
        padding-left: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 100;
        font-size: 24px;
        line-height: 20px;
        vertical-align: top;
        color: $grey_3;
        display: none;
    }

}
.content{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.content_header{
    max-width: 960px;
    color: white;
}
.content-blurb{
    color: $grey_3;
    padding: 24px 0 44px 0;
    letter-spacing: 0.02em;
}
.email_capture_form{
    display: flex;
    .email_input{
        background: $black_2;
        color: $grey_3;
    }
    .submit_email{
        margin-left: 16px;
    }
}
.copyright_info{
    position: absolute;
    bottom: 20px;
    span{
        color: $black_3;
        font-size: 12px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 100;
        line-height: 18px;
        letter-spacing: 0.02em;
    }
    
}
