@import 'modules/variables';
@import 'modules/normal';
@import 'modules/home';
@import 'modules/responsive';

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap";




.text_labels{
    padding-top: $atom-32;
    display: block;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
}
.p_lib_heading{
    display: inline-block;
    padding: 48px 0;
}
.p-lib-components{
    @include padding-32px;
}